*,
*::after,
*::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #948b8b;
}
.g-form{
    width: 450px;
    margin: auto;;
}
fieldset{
    border-radius: 5px;
    border-color: #f4f4f4;
}
fieldset input{
    margin-top: 5px;
    display:block;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(184, 179, 179);
}
input:focus{
    outline: 0;
    border: none;
}
.score, .s-cont{
    text-align: center;
    font-size: 35px;
    color: rgb(17, 38, 61);
}
#submit{
    padding: 2px;
    font-size: 18px;
    display: block;
    text-align: center;
    margin: 15px auto;;
}
#submit:hover{
    background-color: rgb(17, 38, 61);
    transform: scaleY(1.2);
}